<div class="panel panel-default">
	<div class="panel-heading">
		Please login to start working
	</div>
	<div class="panel-body">
		<form id="login-form">
			<div class="form-group">
			    <label for="username">Username</label>
			    <input type="text"  required class="form-control" id="username" name="username">
			</div>
			<div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" required class="form-control" id="password" name="password">
			</div>
			<div class="form-group text-right">
				<input type="submit" class="btn btn-primary btn-block" value="Sign in">
			</div>
			<div>
				Don't have an account? <b><a href="/signup">Sign up</a></b>
			</div>
		</form>
	</div>
</div>