<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
	      	<a class="navbar-brand" href="/">Aloha</a>
	    </div>
	    {% if user.is_authenticated %}
	    <div class="nav navbar-nav navbar-right">
		    <p class="navbar-text">{{ user.username }}</p>
	    	<button type="button" id="sign-out" class="btn btn-default navbar-btn">Sign out</button>
	    </div>
    	{% endif %}
    </div>
</nav>